In [59]:
# Tạo DataFrame mẫu
data = {
    'LargeGroup': ['A', 'A', 'B', 'B', 'C', 'C', 'A', 'A'],
    'ValueColumn': ['apple', 'aple', 'banana', 'orange', 'grape', 'kiwi', 'yellow', 'apple2']
}

In [3]:
pip install numpy

Collecting numpy
  Using cached numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
Installing collected packages: numpy
Successfully installed numpy-1.24.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\ADMIN\AppData\Local\Programs\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.1.1; however, version 24.1.1 is available.
You should consider upgrading via the 'c:\Users\ADMIN\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
Requirement already satisfied: numpy>=1.20.3 in c:\users\admin\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.24.4)
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Collecting pytz>=2020.1
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python38\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, pandas
Successfully installed pandas-2.0.3 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 24.1.1 is available.
You should consider upgrading via the 'c:\Users\ADMIN\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [9]:
pip install fuzzywuzzy

Collecting fuzzywuzzy
  Using cached fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 24.1.1 is available.
You should consider upgrading via the 'c:\Users\ADMIN\AppData\Local\Programs\Python\Python38\python.exe -m pip install --upgrade pip' command.

In [10]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz

c:\Users\ADMIN\AppData\Local\Programs\Python\Python38\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [60]:
df = pd.DataFrame(data)

In [33]:
df

  LargeGroup ValueColumn SmallGroupKey
0          A       apple  SmallGroup_1
1          A        aple  SmallGroup_1
2          B      banana  SmallGroup_2
3          B      orange  SmallGroup_3
4          C       grape  SmallGroup_1
5          C        kiwi  SmallGroup_4

In [11]:
def group_similar_values_within_large_groups(df, large_group_column, column_name, threshold=50):
    small_groups = {}

    for large_group, group_df in df.groupby(large_group_column):
        # Lặp qua từng nhóm lớn
        large_group_key = f"{large_group}_SmallGroupKey"
        group_df[large_group_key] = ""

        for index, row in group_df.iterrows():
            added_to_small_group = False

            for key, small_group in small_groups.items():
                for small_group_index in small_group:
                    similarity = fuzz.ratio(row[column_name], df.at[small_group_index, column_name])
                    if similarity > threshold:
                        df.at[index, large_group_key] = key
                        small_groups[key].append(index)
                        added_to_small_group = True
                        break

            if not added_to_small_group:
                key = f"SmallGroup_{len(small_groups) + 1}"
                df.at[index, large_group_key] = key
                small_groups[key] = [index]

    return df

In [12]:
# Áp dụng hàm group_similar_values_within_large_groups
df_result = group_similar_values_within_large_groups(df, large_group_column='LargeGroup', column_name='ValueColumn', threshold=50)

In [13]:
df_result

  LargeGroup ValueColumn A_SmallGroupKey B_SmallGroupKey C_SmallGroupKey
0          A       apple    SmallGroup_1             NaN             NaN
1          A        aple    SmallGroup_1             NaN             NaN
2          B      banana             NaN    SmallGroup_2             NaN
3          B      orange             NaN    SmallGroup_3             NaN
4          C       grape             NaN             NaN    SmallGroup_3
5          C        kiwi             NaN             NaN    SmallGroup_4

In [30]:
def group_similar_values_within_large_groups_2(df, large_group_column, column_name, threshold=50):
    small_groups = {}
    large_group_key = f"SmallGroupKey"
    df[large_group_key] = ""

    for large_group, group_df in df.groupby(large_group_column):
        # Lặp qua từng nhóm lớn
        for index, row in group_df.iterrows():
            added_to_small_group = False

            for key, small_group in small_groups.items():
                for small_group_index in small_group:
                    similarity = fuzz.ratio(row[column_name], df.at[small_group_index, column_name])
                    if similarity > threshold:
                        df.at[index, large_group_key] = key
                        small_groups[key].append(index)
                        added_to_small_group = True
                        break
                if added_to_small_group:
                    break

            if not added_to_small_group:
                key = f"SmallGroup_{len(small_groups) + 1}"
                df.at[index, large_group_key] = key
                small_groups[key] = [index]

    return df

In [61]:
# Áp dụng hàm group_similar_values_within_large_groups
df_result_5 = group_similar_values_within_large_groups_5(df, large_group_column='LargeGroup', column_name='ValueColumn', threshold=50)

In [62]:
df_result_5

  LargeGroup ValueColumn SmallGroupKey
0          A       apple     A_Group_1
1          A        aple     A_Group_1
2          A      apple2     A_Group_1
3          A      yellow     A_Group_2
4          B      banana     B_Group_1
5          B      orange     B_Group_2
6          C       grape     C_Group_1
7          C        kiwi     C_Group_2

In [36]:
def group_similar_values_within_large_groups_3(df, large_group_column, column_name, threshold=50):
    small_groups = {}
    large_group_key = f"SmallGroupKey"
    df[large_group_key] = ""

    for large_group, group_df in df.groupby(large_group_column):
        group_count = 1
        for index, row in group_df.iterrows():
            added_to_small_group = False

            for key, small_group in small_groups.items():
                for small_group_index in small_group:
                    similarity = fuzz.ratio(row[column_name], df.at[small_group_index, column_name])
                    if similarity > threshold:
                        df.at[index, large_group_key] = key
                        small_groups[key].append(index)
                        added_to_small_group = True
                        break
                if added_to_small_group:
                    break

            if not added_to_small_group:
                key = f"{large_group}_Group_{group_count}"
                df.at[index, large_group_key] = key
                small_groups[key] = [index]
                group_count += 1

    return df

In [39]:
def group_similar_values_within_large_groups_4(df, large_group_column, column_name, threshold=50):
    df['SmallGroupKey'] = ""

    for large_group, group_df in df.groupby(large_group_column):
        small_groups = {}
        group_count = 1
        
        for index, row in group_df.iterrows():
            added_to_small_group = False

            for key, small_group in small_groups.items():
                for small_group_index in small_group:
                    similarity = fuzz.ratio(row[column_name], df.at[small_group_index, column_name])
                    if similarity > threshold:
                        df.at[index, 'SmallGroupKey'] = key
                        small_groups[key].append(index)
                        added_to_small_group = True
                        break
                if added_to_small_group:
                    break

            if not added_to_small_group:
                key = f"{large_group}_Group_{group_count}"
                df.at[index, 'SmallGroupKey'] = key
                small_groups[key] = [index]
                group_count += 1

    return df

In [58]:
def group_similar_values_within_large_groups_5(df, large_group_column, column_name, threshold=50):
    df['SmallGroupKey'] = ""
    
    for large_group, group_df in df.groupby(large_group_column):
        small_groups = {}
        group_count = 1
        
        for index, row in group_df.iterrows():
            added_to_small_group = False
            row_value = row[column_name]
            
            for key, small_group in small_groups.items():
                if any(fuzz.ratio(row_value, df.at[small_group_index, column_name]) > threshold for small_group_index in small_group):
                    df.at[index, 'SmallGroupKey'] = key
                    small_groups[key].append(index)
                    added_to_small_group = True
                    break

            if not added_to_small_group:
                key = f"{large_group}_Group_{group_count}"
                df.at[index, 'SmallGroupKey'] = key
                small_groups[key] = [index]
                group_count += 1
    # Sắp xếp theo cột large_group_column
    df = df.sort_values(['LargeGroup', 'SmallGroupKey']).reset_index(drop=True)
    return df